
.main-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.plyr-board-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    outline: 0.1px solid black;
}
.cmptr-board-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    outline: 0.1px solid black;
}

.plyr-cell{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: lightgray;
    outline: 0.1px solid black;
}
.cmptr-cell{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: lightgray;
    outline: 0.1px solid black;
}